@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    border: 0;
	color: #FFF;
}

body{
    overflow-x: hidden;
	font-size: 1.5rem;
}

.container_head{
    background-image: url(img/head-bg.png);
	/* background-position: center; */
	background-size: cover;
	/* background-attachment: fixed; */
	width: 100%;
    height: 100vh;
	padding: 0 10%;
}

/* .header{
	padding-inline: 16px;
} */

.header{
	max-width: 100%;
	height: 10vh;
	margin-inline: auto;
  
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.logo{
    /* padding-top: 10px; */
    width: 40%;
}

.logo img{
	width: 50%;
}

.ul_header{
	width: 60%;
	display: flex;
	gap: 10px;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}

.ul_header li{
    list-style: none;
    margin: 0 20px;
}

.ul_header a{
	/* font-size: 1.4rem; */
	font-weight: 600;
	/* color: #fff; */
	padding-block: 16px;
}

.ul_header a:not(.btn_header_link):after {
	content: "";
	background-color: #ffffff;
	height: 3px;
	width: 0%;
	display: block;
	margin: 0 auto;
	transition: 0.3s;
}

.ul_header a:hover::after {
	width: 100%;
}

/* .btn_header_link {
	font-size: 18px;
} */

.btn_header {
	font-size: 1.5rem;
	font-weight: 600;
	width: 100%;
	border: white solid 2px;
	border-radius: 40px;
	background: none;
	padding: 10px 25px;
	/* color: #FFF; */
	cursor: pointer;
	/* margin-left: 35px; */
	text-decoration: none;
}

.btn_header:hover {
	background-color: #f9f9f9d3;
	color: #1c1e62;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
}

/* .btn_header_link:hover {
	color: #7b21c1;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
} */

/* .hamburger {
	display: none;
	border: none;
	background: none;
	border-top: 3px solid #fff;
	cursor: pointer;
  } */
  
  /* .hamburger::after,
  .hamburger::before {
	content: " ";
	display: block;
	width: 30px;
	height: 3px;
	background: #fff;
	margin-top: 5px;
	position: relative;
	transition: 0.3s;
  } */


.div_banner {
	display: flex;
    align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 90%;
	/* color: #dbd9d9; */
}

.div_banner_text {
	width: 52%;
	height: 50%;
	display: flex;
	flex-direction: column;
    align-items: start;
	justify-content: space-evenly;
}

.div_banner_text h1 {
	font-size: 2.2rem;
    width: 100%;
	/* color: white; */
	/* margin-bottom: 10px; */
}

/* .div_banner_text p {
	font-size: 18px;
} */

.btn_banner {
    width: 30%;
	border: white solid 2px;
	border-radius: 40px;
	background-color: transparent;
	padding: 10px;
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	cursor: pointer;
	margin-left: 60%;
	/* margin-top: 15px; */
}

.btn_banner:hover {
	background-color: #fff;
	color: #1c1e62;
	transition: 0.5s;
	cursor: pointer;
	outline: none;
}

/* .btn_banner a {
	color: inherit;
} */

.div_banner_img {
	/* background-image: 100%; */
    width: 48%;
	/* height: 90%; */
	/* padding-bottom: 5%; */
}

#img_head {
	height: 89vh;
	width: 48vw;
	/* padding-left: 5%; */
	/* padding-bottom: 25px; */
}

/* Contato */

.contato p, .titulo_contato{
	color: #17195D;
}

.titulo_contato{
	text-align: center;
	margin: 30px 10%;
}

.contato{
	padding: 0 10% 80px;
	display: flex;
	flex-wrap: wrap;
}


.div_infos_contato{
	flex-grow: 1;
	flex-basis: 300px;
}

.div_inputs_contato{
	align-items: center;
	flex-grow: 1;
	flex-basis: 300px;
	display: flex;
	flex-direction: column;
}

.input_contato{
	width: 80%;
	margin: 10px 20px;
	border: 2px solid #17195D;
	height: 33px;
	color: #17195D;
	padding: 10px;
}
.mensagem_contato{
	width: 80%;
	margin: 10px 20px;
	border: 2px solid #17195D;
	height: 250px;
	color: #17195D;
	padding: 10px;
}
.div_inputs_contato button{
	color: white;
	background-color: #17195D;
	width: 80%;
	height: 40px;
	box-shadow: 1px 1px 3px black;
}
.div_inputs_contato button:hover{
	color: #17195D;
	background-color: rgba(255, 255, 255, 0);
	border: 2px solid #17195D;
	transition: 0.5s;
	cursor: pointer;
}

/* Footer */


.linha_footer_branca{
	height: 8px;
	width: 100%;
	background-color: #E5E5F5;
}
.linha_footer_azul{
	height: 6px;
	width: 100%;
	background-color: #17195D;
}

footer h1{
	font-size: 2.2rem;
}

footer p, footer a{
	font-size: 1rem;
}


.conteudo_footer{
	display: flex;
	flex-wrap: wrap;
	padding: 0 5%;
	margin: 30px;
	justify-content: space-around;
}

.children_footer{
	flex-grow: 1;
	flex-basis: 300px;
}


.section_desc_footer > img{
	width: 250px;
}

.section_links_footer{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}

.section_links_footer a, .section_links_footer h1{
	text-align: center;
	margin: 3px 0;
}

.section_links_footer a:hover::after{
	width: 100%;
}

.section_links_footer div{
	display: flex;
	justify-content: space-around;
	margin: 3px 0;
}
.section_contact_footer{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
}



/* @media (max-width: 750px) {
	.hamburger {
	  display: block;
	  z-index: 1;
	}
  
	.ul_header {
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100vw;
	  height: 100vh;
	  background: #31456D;
	  clip-path: circle(100px at 90% -15%);
	  transition: 1s ease-out;
  
	  flex-direction: column;
	  justify-content: space-around;
	  align-items: center;
	  gap: 0;
  
	  pointer-events: none;
	}
  
	.ul_header a {
	  font-size: 24px;
	  opacity: 0;
	}
  
	.ul_header li:nth-child(1) a {
	  transition: 0.5s 0.2s;
	}
  
	.ul_header li:nth-child(2) a {
	  transition: 0.5s 0.4s;
	}
  
	.ul_header li:nth-child(3) a {
	  transition: 0.5s 0.6s;
	}
  
	.nav.active .ul_header {
	  clip-path: circle(1500px at 90% -15%);
	  pointer-events: all;
	}
  
	.nav.active .ul_header a {
	  opacity: 1;
	}
  
	.nav.active .hamburger {
	  position: fixed;
	  top: 26px;
	  right: 16px;
	  border-top-color: transparent;
	}
  
	.nav.active .hamburger::before {
	  transform: rotate(135deg);
	}
  
	.nav.active .hamburger::after {
	  transform: rotate(-135deg);
	  top: -7px;
	}
  }
   */